html, body{
    margin: 0px;
    height: 100%;
    overflow: auto;
}

.Login{
    
    &.main_div{
        width: 100%;
        height: 80px;
        background-color: #003149;
        color: white;
        text-align: center;
        font-size: 50px;
    }
    &.main_div2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }
    &.button1{ width: 100px;}
    &.button2{ width: 182px;}
    &.input{ width: 300px;}
    &.paper{
        margin-left: 80px;
        width: 300px;
        height: 300px;
        padding: 10px;
    }
    &.link{ text-decoration: none }
}


.Reset_pswd{
    &.button1{ width: 300px;  }
}

.List{
    &.root_div{
        min-width: 1000px;
        overflow: auto;
    }
    &.main_div{
        width: 100%;
        height: 80px;
        background-color: #003149;
        color: white;
        font-size: 14px;
    }
    &.user_table{
        margin-left: 10px;
        float: left;
    }
    &.tbody td{
        white-space: nowrap;
        width: 120px;
    }
    &.button1{
        margin: 10px;
        float: right;
        width: 130px;
        height: 60px;
        font-size: 25px;
    }
    &.root{  width: 100% }
    &.tableWrapper{
        max-height: 500px;
        overflow: auto;
    }
    &.tableWrapper :only-child{ white-space: nowrap; }
    &.sort_div{ 
        height: 45px;
    }
    &.TablePagination{  
        float: right;
    }
    &.searchicon{
        margin-top: 10px;
        margin-left: 40%;
        float: left;
    }
    &.search_input{
        margin-top: 4px;
    }
    &.navi_button{
        width: 170px;
        margin: 10px;
        float: right;
    }
    &.navi_div{
        width: 100%;
        position: absolute
    }
}

.Evaluate{
    &.main_div1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    &.main_div2{
        width: 1400px;  
    }
    &.user_info_col{
        background-color: #003149;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 2px;
    }
    
    &.user_paper{
        margin: 5px;
        width:500px;
        float: left;
    }
    &.user_paper2{
        margin: 5px;
        width:300px;
        float: left;
    }
    &.status_paper{
        margin: 5px;
        width:150px;
        float: left;
        text-align: center;
    }
    &.result_paper{
        margin: 5px;
        width:1384px;
        overflow: auto;  
    }

    &.user_info_cell{
        font-size: 12px;
        text-align: center;
        padding: 2px;
    }
    &.status_cell{
        font-size: 42px;
        text-align: center;
    }
    &.logout_button{
        margin: 5px;
        background-color: #003149;
        height: 116px;
    }
    &.input_result_row :only-child{
        font-size: 12px;
    }
    &.input_result_cell{
        padding:4px;
    }
    &.add_row_bt{
        color: white;
        background-color: rgba(217, 100, 228, 0.671);
        height: 20px;
        padding: 0px;
        float: right;
        font-size: 13px;
    }
    &.result_result{
        font-size: 12px;
        text-align: center;
        padding: 2px;
    }

    &.feedback_paper{
        margin: 5px;
        width: 900px;
        float: left;
    }
    &.feedback_col{
        background-color: #003149;
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 2px;
        width: 100px
    }
    &.bottom_button{
        margin: 5px;
        background-color: #003149;
        height: 78px;
        width: 100px;
        font-size: 16px;  
        float: right;      
    }
}